body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.hero-section {
    background-color: #4CAF50;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero1-section{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero-content p {
    font-size: 1.2em;
    margin: 10px 0;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1em;
    color: #4CAF50;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-content button:hover {
    background-color: #ddd;
}

.features-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.feature-box {
    width: 30%;
    text-align: center;
}

.feature-box h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.feature-box p {
    font-size: 1em;
    margin: 10px 0;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}